/*------ Typography Style Start ------*/

:root {
    scroll-behavior: inherit;
}

body {
    color: $black-soft;
    line-height: 1.7;
    font-size: 16px;
    font-weight: 400;
    font-family: $font-family-base;
}

a {
    color: inherit;
    transition: 0.4s;
    text-decoration: none;
    &:hover,
    &:focus {
        outline: none;
        color: inherit;
        text-decoration: none;
    }
}

p {
    margin-bottom: 8px;
    &:last-child {
        margin-bottom: 0;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $black-soft;
    line-height: 1.2;
    margin: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin: 0;
    line-height: 1.5;
}

h1,
.h1 {
    font-size: 36px;
}

h2,
.h2 {
    font-size: 32px;
    // res
    @media #{$xxs-device} {
        font-size: 26px;
    }
}

h3,
.h3 {
    font-size: 24px;
}

h4,
.h4 {
    font-size: 20px;
}

h5,
.h5 {
    font-size: 18px;
}

h6,
.h6 {
    font-size: 16px;
}

ul {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}

strong,
b {
    font-weight: 700;
}

address {
    margin-bottom: 0;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
    transition: 0.4s;
}

.bg-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn,
button {
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    box-shadow: none;
    transition: 0.4s;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    &:active,
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

input,
textarea {
    resize: none;
    &:focus {
        outline: none !important;
    }
}

.form-control {
    &:focus {
        border-color: $theme-color-primary;
        box-shadow: none;
    }
}

.extra-large-container {
    @media (min-width: 1400px) {
        max-width: 1620px;
    }
}

.large-container {
    @media (min-width: 1400px) {
        max-width: 1560px;
    }
}

.custom-container {
    @media (min-width: 1400px) {
        max-width: 1400px;
    }
}

.custom-container--1170 {
    max-width: 1170px;
}

// custom row
@for $i from 0 through 60 {
    .row-#{1 * $i} {
        margin-left: -0.5px * $i;
        margin-right: -0.5px * $i;
        &>[class*="col"] {
            padding-left: 0.5px * $i;
            padding-right: 0.5px * $i;
        }
    }
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    padding-left: var(--bs-gutter-x, 15px);
    padding-right: var(--bs-gutter-x, 15px);
}

.row {
    --bs-gutter-x: 30px;
}