/*------- common css start -------*/

.fix {
    overflow: hidden;
}

.bdr-top {
    border-top: 1px solid #e2e2e2;
}

.grey-bg {
    background-color: #f2f3f8;
}

.bg-gradient {
    background-image: linear-gradient(0, #f6f6fa, #fff);
}

.bg-primary {
    background-color: $theme-color-primary !important;
}

.bg-secondary {
    background-color: $theme-color-secondary !important;
}

.light-gray {
    background-color: $light-gray;
}

.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/*------- common css end -------*/


/* ----scroll to top css start ----*/

.scroll-top {
    color: $white;
    font-size: 25px;
    bottom: 50px;
    cursor: pointer;
    height: 50px;
    right: 20px;
    width: 50px;
    position: fixed;
    line-height: 50px;
    text-align: center;
    z-index: 9999;
    transition: 0.4s;
    border-radius: 50%;
    background-color: darken($theme-color-primary, 10%);
    //res
    @media #{$xs-device} {
        bottom: 30px;
    }
    &.not-visible {
        bottom: -50px;
        visibility: hidden;
        opacity: 0;
    }
    &:hover {
        background-color: $theme-color-alternate;
    }
}


/* ----scroll to top css end ----*/

.pulse {
    .wave-pulse {
        width: 1px;
        height: 0;
        margin: 0 auto;
        &:before,
        &:after {
            opacity: 0;
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 50%;
            left: 50%;
            border-radius: 50%;
            border: 1px solid $white;
            transform: translate(-50%, -50%);
            animation: gradationMask 1.5s linear infinite;
        }
    }
    .wave-pulse-2::before {
        animation-delay: 2.4s;
    }
    .wave-pulse-3::before {
        animation-delay: 2.4s;
    }
}

@keyframes gradationMask {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    90% {
        opacity: 1;
    }
    100% {
        border-color: transparent;
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.3);
    }
}

// latest deal area area
.latest-deal-area {
    padding-top: 155px;
    // res
    @media #{$xlmid-device} {
        padding-top: 44px;
    }
    @media #{$lg-device} {
        padding-top: 60px;
    }
    @media #{$md-device} {
        padding-top: 0;
    }
    @media #{$sm-device} {
        padding-top: 0;
    }
}

// custom checkbox
.custom-control {
    margin-top: 6px;
    .custom-control-label {
        font-size: 16px;
        color: $white;
        cursor: pointer;
        display: inline;
        padding-left: 5px;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            border-radius: 0;
            border: 2px solid $white;
            background-color: transparent;
            box-shadow: none;
            width: 16px;
            height: 16px;
            left: -18px;
            top: 4px;
        }
        &:after {
            position: absolute;
            top: 4px;
            left: -18px;
            display: block;
            width: 1rem;
            height: 1rem;
            content: "";
            background: no-repeat 50%/50% 50%;
        }
    }
    .custom-control-input {
        opacity: 0;
    }
}

.custom-control-input:checked~.custom-control-label::before {
    background-color: darken($theme-color-primary, 10%);
    border-color: darken($theme-color-primary, 10%);
    box-shadow: none;
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: $white;
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: none;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
}


/*----- page header css start -----*/

.main-wrapper {
    padding-top: 85px;
    // res
    @media #{$md-device, $sm-device} {
        padding-top: 0;
    }
}

.page-header-wrapper {
    padding: 128px 0;
    display: flex;
    align-items: center;
    // res
    @media #{$sm-device} {
        padding: 75px 0;
    }
    .page-title {
        font-size: 42px;
        font-weight: 700;
        font-family: $heading-font;
        text-transform: uppercase;
        color: $theme-color-secondary;
        position: relative;
        &:after {
            bottom: -4px;
            left: 0;
            content: '';
            height: 3px;
            width: 100px;
            position: absolute;
            background-color: $theme-color-primary;
        }
        // res
        @media #{$md-device} {
            font-size: 36px;
        }
        @media #{$sm-device} {
            font-size: 32px;
        }
        @media #{$xxs-device} {
            font-size: 24px;
        }
    }
}


/*----- page header css end -----*/

.item-view-bar {
    margin-top: -68px;
    // res
    @media #{$lg-device, $md-device, $sm-device} {
        margin-top: 30px;
    }
}

.item-view-wrapper {
    display: flex;
    align-items: center;
    padding: 45px 60px;
    background-color: $white;
    box-shadow: 0px 3px 10px 0px rgba(40, 43, 50, 0.29);
    // res
    @media #{$sm-device} {
        display: block;
    }
    @media #{$xs-device} {
        padding: 30px 30px;
    }
    @media #{$xxs-device} {
        padding: 30px 15px;
    }
}

.item-sorting {
    width: 270px;
    // res
    @media #{$md-device} {
        width: 200px;
    }
    @media #{$sm-device} {
        width: 100%;
    }
    .nice-select {
        width: 100%;
        border: none;
        border-radius: 0;
        padding: 0;
        border-bottom: 2px solid $theme-color-primary;
        .current {
            font-size: 18px;
            font-weight: 500;
            color: $theme-color-secondary;
            text-transform: uppercase;
        }
        .list {
            width: 100%;
        }
        &:after {
            height: 10px;
            width: 10px;
            right: 4px;
            border-color: $theme-color-primary;
        }
    }
}

.item-filter-button {
    padding-left: 70px;
    // res
    @media #{$md-device} {
        padding-left: 35px;
    }
    @media #{$sm-device} {
        padding-left: 0;
        margin-top: 60px;
    }
    ul {
        @media #{$sm-device} {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        li {
            display: inline-block;
            margin-right: 112px;
            &:last-child {
                margin-right: 0;
            }
            // res
            @media #{$lg-device} {
                margin-right: 50px;
            }
            @media #{$md-device} {
                margin-right: 20px;
            }
            @media #{$sm-device} {
                margin-right: 0;
            }
            .filter-button {
                font-size: 18px;
                font-weight: 500;
                color: $theme-color-secondary;
                text-transform: uppercase;
                border: 1px solid transparent;
                padding: 7px 15px;
                &:hover {
                    color: $theme-color-primary;
                    border: 1px solid $theme-color-primary;
                }
                // res
                @media #{$xxs-device} {
                    font-size: 15px;
                    padding: 5px 10px;
                }
            }
        }
    }
}

.item-view-wrapper {
    &__category {
        justify-content: space-between;
        // res
        @media #{$md-device} {
            display: block;
        }
        @media #{$sm-device} {
            padding: 45px 30px;
        }
        @media #{$xs-device} {
            padding: 30px 15px;
        }
        @media #{$xxs-device} {
            display: flex;
            flex-direction: column;
        }
        .item-sorting {
            // res
            @media #{$lg-device} {
                width: 200px;
            }
            @media #{$md-device, $sm-device} {
                width: 50%;
                float: left;
                padding: 0 15px;
            }
            @media #{$xxs-device} {
                width: 100%;
                float: none;
                padding: 0;
                margin-bottom: 30px;
            }
        }
        .item-filter-button {
            @media #{$md-device} {
                margin-top: 60px;
                text-align: center;
            }
            @media #{$xxs-device} {
                margin-top: 0;
            }
            ul {
                @media #{$sm-device} {
                    justify-content: center;
                }
                li {
                    &:last-child {
                        margin-right: 0;
                    }
                    @media #{$xlmid-device} {
                        margin-right: 35px;
                    }
                    @media #{$lg-device} {
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}


/*----- social link css start -----*/

.social-link {
    a {
        width: 37px;
        height: 37px;
        color: $theme-color-primary;
        font-size: 20px;
        line-height: 37px;
        display: inline-block;
        text-align: center;
        border: 1px solid transparent;
        &:hover {
            color: $theme-color-primary;
            border-color: $theme-color-primary;
            background-color: #edf5ff;
        }
    }
    &__bg {
        a {
            border-color: $theme-color-primary;
            background-color: #edf5ff;
            &:hover {
                color: $white;
                background-color: $theme-color-primary;
            }
        }
    }
}


/*----- social link css end -----*/


/*----- shape css start -----*/

.shape-2 {
    height: 40px;
    top: 0;
    right: 20px;
    position: absolute;
    border-left: 13px solid $white;
    border-right: 12px solid $white;
    border-bottom: 13px solid transparent;
}


/*----- shape css end -----*/


/*----- product overlay css start -----*/

.product-share-link {
    top: 20px;
    right: 20px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: 0.4s;
    .hover-btn {
        width: 30px;
        height: 30px;
        color: $white;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
        .social-link {
            opacity: 0;
            visibility: hidden;
            display: none;
            a {
                width: 30px;
                height: 30px;
                color: $white;
                display: block;
                line-height: 30px;
                text-align: center;
                margin-bottom: 5px;
                transition: 0.4s;
                &:hover {
                    border-color: transparent;
                }
                &.facebook {
                    background-color: $facebook;
                    &:hover {
                        background-color: darken($facebook, 10%);
                    }
                }
                &.twitter {
                    background-color: $twitter;
                    &:hover {
                        background-color: darken($twitter, 10%);
                    }
                }
                &.pinterest {
                    background-color: $pinterest;
                    &:hover {
                        background-color: darken($pinterest, 10%);
                    }
                }
            }
        }
    }
}

.overlay {
    position: relative;
    &:before {
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba($overlay-color, 0.6);
        opacity: 0;
        visibility: hidden;
        transition: 0.4s;
        z-index: 1;
        pointer-events: none;
    }
    .read-more {
        top: 50%;
        left: 0;
        right: 0;
        position: absolute;
        text-align: center;
        transform: translateY(-50%);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.4s;
        &__btn {
            color: $black;
            font-size: 15px;
            display: inline-block;
            border: 1px solid $white;
            line-height: 1;
            padding: 11px 20px;
            background-color: $white;
        }
    }
}

// overlay hover effect
.overlay-hover {
    &:hover {
        .overlay {
            &:before {
                opacity: 1;
                visibility: visible;
            }
        }
        .product-share-link {
            opacity: 1;
            visibility: visible;
            .hover-btn {
                &:hover {
                    .social-link {
                        opacity: 1;
                        visibility: visible;
                        display: block;
                    }
                }
            }
        }
        .read-more {
            opacity: 1;
            visibility: visible;
            &__btn {
                &:hover {
                    color: $white;
                    background-color: $theme-color-alternate;
                    border-color: $theme-color-alternate;
                }
            }
        }
    }
}


/*----- product overlay css end -----*/

.gallery-thumbs {
    margin-top: -80px;
    // res
    @media #{$md-device} {
        margin-top: -55px;
    }
    @media #{$sm-device} {
        margin-top: -40px;
    }
    .swiper-wrapper {
        justify-content: center;
    }
    .swiper-slide {
        width: 8%;
        height: 100%;
        cursor: pointer;
        img {
            border: 1px solid transparent;
        }
    }
    .swiper-slide-thumb-active {
        img {
            border: 1px solid $theme-color-primary;
        }
    }
}

// swiper pagination style
.swiper-pagination {
    color: $theme-color-secondary;
    font-size: 25px;
    font-weight: 500;
    line-height: 1;
    text-align: left;
    display: flex;
    align-items: center;
    width: auto;
    &-fraction {
        bottom: -4px;
        left: 25px;
        display: inline-block;
        // res
        @media #{$xl-device} {
            bottom: 58px;
        }
        @media #{$sm-device} {
            bottom: 4px;
        }
        .icon {
            left: 50%;
            top: 50%;
            content: '';
            width: 40px;
            height: 1px;
            position: absolute;
            background-color: $theme-color-secondary;
            transform: translate(-50%, -50%);
        }
    }
    &-current {
        transition: 5s;
        padding-right: 15px;
        margin-right: 15px;
        &:before {
            content: '0';
        }
    }
    &-total {
        padding-left: 15px;
        margin-left: 15px;
        &:before {
            content: '0';
        }
    }
}

// swiper navigation button default
.hero-swiper-nav {
    color: #e4eaef;
    bottom: 0;
    top: auto;
    width: auto;
    height: auto;
    transition: 0.4s;
    &:focus {
        outline: none;
    }
    // res
    @media #{$xl-device} {
        bottom: 60px;
    }
    @media #{$sm-device} {
        bottom: 7px;
    }
    &:after {
        font-size: 22px;
        font-weight: 800;
    }
    &.swiper-button {
        &-prev {
            left: 0;
        }
        &-next {
            left: 165px;
            right: auto;
        }
    }
    &:hover {
        color: $theme-color-primary;
    }
}

.swiper-button-default {
    width: 45px;
    height: 45px;
    background-color: rgba($white, .6);
    text-align: center;
    transition: 0.4s;
    &:after {
        font-size: 18px;
        color: $theme-color-secondary;
        line-height: 45px;
    }
    &:focus {
        outline: none;
    }
    &:hover {
        background-color: $white;
    }
}

.swiper-button-round {
    border-radius: 50%;
    border: 1px solid $theme-color-secondary;
}


/*----- product tab menu start -----*/

.product-tab-menu {
    margin: 23px 0 50px;
    ul {
        border: none;
        li {
            margin-right: 25px;
            .nav-link {
                border: none;
                color: $overlay-color;
                font-size: 16px;
                margin-bottom: 0;
                padding: 0;
                position: relative;
                &:before {
                    bottom: -3px;
                    left: 0;
                    content: "";
                    height: 1px;
                    width: 100%;
                    position: absolute;
                    background-color: $overlay-color;
                    opacity: 0;
                    visibility: hidden;
                }
                &.active {
                    color: $theme-color-primary;
                    &:before {
                        opacity: 1;
                        visibility: visible;
                        background-color: $theme-color-primary;
                    }
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}


/*----- product tab menu end -----*/