/*------ main menu start ------*/
.main-menu {
    li {
        font-size: 15px;
        font-weight: 500;
        padding: 30px 0;
        margin-right: 35px;
        // res
        @media #{$md-device, $sm-device}{
            padding: 0;
            margin-right: 0;
        }
        a {
            color: $theme-color-secondary;
            display: block;
            // res
            @media #{$md-device, $sm-device}{
                color: $white;
            }
        }
        &:hover > {
            a {
                color: $theme-color-alternate;
            }
        }
        ul.dropdown {
            width: 180px;
            background-color: $theme-color-secondary;
            // res
            @media #{$md-device, $sm-device}{
                background-color: transparent;
            }
            li {
                padding: 0;
                margin-right: 0;
                a {
                    color: $white;
                    display: block;
                    padding: 5px 15px;
                }
                &:hover {
                    a {
                        color: $theme-color-alternate;
                    }
                }
            }
        }
    }
}
/*------ main menu end ------*/

/*------ sticky menu style start ------*/
.sticky {
    &.is-sticky {
        top: 0;
        left: 0;
        position: fixed;
        width: 100%;
        z-index: 9;
        background-color: $white;
        box-shadow: 0 0 8px 1px rgba($black, 0.2);
        animation: 900ms cubic-bezier(0.2, 1, 0.22, 1) 0s normal none 1 running fadeInDown;
        &.main-menu-wrapper {
            .brand-logo {
                max-width: 150px;
            }
        }
    }
}

/*------ sticky menu style end ------*/

// header transparent css
.header-transparent {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: 999;
    background-color: transparent;
    // res
    @media #{$md-device, $sm-device}{
        position: static;
    }
}

.main-menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


// header search button
.search {
    &-btn {
        width: 80px;
        text-align: right;
        // res
        @media #{$md-device, $sm-device}{
            width: 60px;
            align-self: normal;
        }
    }
    &-trigger {
        width: 36px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        background-color: $theme-color-alternate;
        i {
            color: $white;
            font-size: 18px;
        }
        &:hover {
            background-color: $theme-color-secondary;
        }
    }
}

/*----- offcanvas search box start -----*/
.off-canvas-search {
    width: 100%;
    top: 0;
    position: fixed;
    left: 0;
    padding: 20px 0;
    background-color: $theme-color-primary;
    z-index: 99999999;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
    transform: rotateX(-90deg);
    transform-origin: top;
    input {
        color: $white;
        height: 50px;
        padding: 0 20px;
        width: 100%;
        border: 1px solid #26b6b6;
        background-color: transparent;
    }
    &.show {
        opacity: 1;
        visibility: visible;
        transform: rotateX(0);
    }
}
.off-canvas-wrapper {
    display: flex;
        justify-content: space-between;
}
.off-canvas-inner {
    width: calc(100% - 60px);
}
.off-canvas-close {
    width: 50px;
    height: 50px;
    color: $white;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #26b6b6;
    i {
        display: block;
        transition: 0.4s;
    }
    &:hover {
        background-color: $theme-color-alternate;
        border-color: $theme-color-alternate;
        i {
            transform: rotate(-90deg);
        }
    }
}
/*----- offcanvas search box end -----*/


/*----- mobile menu start -----*/
[data-xtoggle] { 
    display: none; 
}

.js-menu ul {
    background-color: #cacaca; 
    background-clip: content-box; 
}

.js-menu .smbox { 
    position: relative; 
}

.js-menu .smbox::after {
    top: 50%;
    right: -15px;
    content: "\eab2";
    color: $theme-color-secondary;
    font-size: 13px;
    font-family: IcoFont;
    position: absolute;
    transform: translateY(-50%);
    // res
    @media #{$md-device, $sm-device}{
        top: 7px;
        right: 10px;
        color: $white;
        transform: translateY(0);
    }
}

.js-menu .smbox.open::after { 
    content: "\eab9";
}

.js-menu .smbox > ul { 
    display: none; 
}

.js-menu .smbox.open > ul { 
    display: block; 
}

@media screen and (min-width : 992px) {
    .js-menu { 
        display: flex; 
        flex-direction: row; 
    }

    .js-menu .smbox > ul {
        position: absolute;
        white-space: nowrap;
        z-index: 99;
    }
    .js-menu .smbox .smbox > ul {
        top: 0;
        left: 100%;
    }
}

@media screen and (max-width: 991px) {
    .main-header {
        padding: 15px 0;
    }

    .main-menu {
        width: 100%;
        text-align: right;
    }

    [data-xtoggle] {
        display: inline-block;
        border: none;
        font-size: 30px;
        background-color: transparent;
        color: $theme-color-alternate;
        text-align: right;
        border: 1px solid $theme-color-alternate;
        padding: 3px 5px;
        line-height: 1;
    }

    .js-menu { 
        display: flex; 
        flex-direction: row; 
        display: none; 
        background-color: $theme-color-secondary;
        text-align: left;
        // res
        @media #{$md-device, $sm-device}{
            padding: 15px 0;
        }
        li {
            a {
                padding: 5px 20px;
            }
            ul.dropdown {
                li {
                    a {
                        padding: 5px 30px;
                    }
                }
            }
        }
    }

    .js-menu.active { 
        display: block; 
    }
}
/*----- mobile menu end -----*/