
/*----- newsletter style start -----*/
.newsletter-area {
    background-color: #0a3556;
    padding: 42px 0;
}

.newsletter-inner {
    &__title {
        // res
        @media #{$md-device, $sm-device}{
            padding-bottom: 20px;
        }
        .title {
            color: $white;
            font-weight: 600;
            font-family: $heading-font;
            margin-bottom: 6px;
        }
        .sub-title {
            color: $white;
            font-weight: 400;
        }
    }
    &__form {
        // placeholder text style
        ::placeholder {
            color: $white;
            font-style: italic;
            font-weight: 300;
            opacity: 0.5;
        }
        .text-field {
            background-color: transparent;
            border: 1px solid $white;
            color: $white;
            font-size: 16px;
            font-weight: 300;
            height: 54px;
            padding: 0 15px;
            width: calc(100% - 208px);
            // res
            @media #{$xxs-device}{
                width: 100%;
            }
        }
        .newsletter-btn {
            color: $white;
            font-size: 24px;
            font-weight: 400;
            height: 54px;
            width: 200px;
            border: 2px solid $white;
            position: absolute;
            right: 0;
            top: 0;
            // res
            @media #{$xxs-device}{
                position: static;
                margin-top: 10px;
            }
            &:hover {
                background-color: #0d6efd;
                border-color: #0d6efd;
            }
           /*  &:before {
                content: "It's free";
                top: calc(100% + 10px);
                right: 0;
                font-size: 16px;
                position: absolute;
                // res
                @media #{$xxs-device}{
                    top: 50%;
                    transform: translateY(-50%);
                }
            } */
        }
        .free {
            left: 0;
            top: 0;
            position: absolute;
        }
    }
}
/*----- newsletter style end -----*/