
/*----- section title start -----*/

.section-title {
    .title {
        color: $theme-color-secondary;
        font-weight: 600;
        margin-top: -7px;
        margin-bottom: 15px;
    }
}

.title-shape {
    position: relative;
    &:before {
        bottom: -10px;
        left: 0;
        right: 0;
        content: '';
        height: 3px;
        width: 100px;
        margin: auto;
        position: absolute;
        background-color: $theme-color-alternate;
    }
    &__left {
        &:before {
            right: auto;
        }
    }
}

.top-feature-area {
    .section-title {
        .title {
            color: $overlay-color;
        }
    }
}
/*----- section title end -----*/