<!-- newsletter area start -->
<section class="newsletter-area" id="newsletter">
    <div class="container custom-container">
        <div class="row newsletter-inner">
            <div class="col-xl-4 col-lg-5">
                <div class="newsletter-inner__title">
                    <h2 class="title">Subscribe for Newsletter</h2>
                    <h6 class="sub-title">Subscribe to the newsletter to receive updates about new products.</h6>
                </div>
            </div>
            <div class="col-xl-7 offset-xl-1 col-lg-7">
                <div class="newsletter-inner__form">
                    <form action="#" class="form-inner position-relative">
                        <input type="text" class="text-field" placeholder="Enter Your Email Address">
                            <button class="newsletter-btn">Subscribe</button>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="terms" required />
                            <label class="custom-control-label" for="terms">I confirm i wish to sign up to the Pixyour mailing list</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- newsletter area end -->

<!-- footer section start -->
<footer class="bg-secondary">
    <div class="container custom-container">
        <div class="row">
            <div class="col-12">
                <div class="footer-header">
                    <div class="footer-logo">
                        <a href="index.html">
                            <img src="assets/img/logo/footer-logo-light.png" alt="brand logo">
                        </a>
                    </div>
                    <div class="footer-navigation">
                        <ul>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                            <li><a href="category.html">Categories</a></li>
                            <li><a href="privacy-policy.html">Privacy Policy</a></li>
                            <li><a href="affiliate-disclosure.html">Affiliate Disclosure</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-main">
        <div class="container custom-container">
            <div class="row align-items-center">
                <div class="col-lg-2 col-md-3 col-sm-5 order-3 order-md-1">
                    <div class="social-link">
                        <a href="https://www.facebook.com/" target="_blank"><i class="icofont-facebook"></i></a>
                        <a href="https://www.twitter.com/" target="_blank"><i class="icofont-twitter"></i></a>
                        <a href="https://www.pinterest.com/" target="_blank"><i class="icofont-pinterest"></i></a>
                        <a href="https://www.instagram.com/" target="_blank"><i class="icofont-instagram"></i></a>
                    </div>
                    <div class="copyright">
                        <p>© 2021 <a href="#">Pixyour</a></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-7 d-none d-md-block order-2">
                    <div class="footer-image">
                        <img src="assets/img/footer/footer-img.png" alt="image">
                    </div>
                </div>
                <div class="col-lg-7 col-md-6 order-1 order-md-3">
                    <div class="footer-content">
                        <h2 class="title">Pixyour.com</h2>
                        <p>Is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to Amazon.com</p>
                        <a href="#" class="btn dmca"><span>DMCA</span> PROTECTED</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer section end -->