<!-- footer section start -->
<footer class="footer-style--two">
    <div class="footer-main-wrapper grey-bg section-padding">
        <div class="container custom-container">
            <h6 class="footer-text text-center">Pixyour com is a leading authority on era, delivering labs-primarily based, independent opinions of the modern day services and products. Our expert enterprise evaluation and practical answers assist you are making better shopping for choices
                and get extra from technology</h6>
        </div>
        <div class="container extra-large-container">
            <div class="row">
                <div class="col-xl-4 col-12">
                    <div class="footer-title">
                        <h2 class="title">Your buys <br> are completely <br> secured <br> by amazon</h2>
                        <div class="footer-logo">
                            <a href="index.html">
                                <img src="assets/img/logo/footer-logo.png" alt="logo">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="news-update">
                                <form action="#" class="news-update__form">
                                    <input type="text" class="text-field" placeholder="Get News & Updates">
                                    <button class="news-update-btn"><i class="icofont-arrow-right"></i></button>
                                </form>
                                <div class="news-update__footer">
                                    <div class="text">
                                        <p>Subscribe to the newsletter to receive updates about <br> new products.</p>
                                    </div>
                                    <div class="social">
                                        <a href="#"><i class="icofont-twitter"></i></a>
                                        <a href="#"><i class="icofont-pinterest"></i></a>
                                        <a href="#"><i class="icofont-facebook"></i></a>
                                        <a href="#"><i class="icofont-youtube-play"></i></a>
                                        <a href="#"><i class="icofont-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mtn-40">
                        <div class="col-md-4 col-sm-6 mt-40">
                            <div class="footer-widget useful-link">
                                <h5 class="title">All Products</h5>
                                <ul>
                                    <li><a href="#">Camera And Photo</a></li>
                                    <li><a href="#">Jewelry and Watches</a></li>
                                    <li><a href="#">Toys & Games</a></li>
                                    <li><a href="#">Smartphones & gadgets</a></li>
                                    <li><a href="#">Home & Furniture</a></li>
                                    <li><a href="#">Computers and IT</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 mt-40">
                            <div class="footer-widget useful-link">
                                <h5 class="title">For customers</h5>
                                <ul>
                                    <li><a href="#">Product for review</a></li>
                                    <li><a href="#">Events</a></li>
                                    <li><a href="#">Best deals</a></li>
                                    <li><a href="#">Catalog</a></li>
                                    <li><a href="#">Sitemap</a></li>
                                    <li><a href="#">Help Center</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 mt-40">
                            <div class="footer-widget useful-link">
                                <h5 class="title">About us</h5>
                                <ul>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Contact US</a></li>
                                    <li><a href="#">Blogs</a></li>
                                    <li><a href="#">Careers</a></li>
                                    <li><a href="#">Affiliate Disclosure</a></li>
                                    <li><a href="#">Research</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom grey-bg">
        <div class="container extra-large-container">
            <div class="row">
                <div class="col-md-6 order-2 order-md-1">
                    <div class="footer-bottom__copyright">
                        <p>&copy; 2021 <a href="#">Pixyour.com</a> All rights reserved</p>
                    </div>
                </div>
                <div class="col-md-6 order-1 order-md-2">
                    <div class="footer-bottom__link">
                        <a href="#">Privacy Policy</a>
                        <a href="#">Terms and Conditions</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer section end -->