
<div class="mobile-header d-lg-none d-md-block sticky">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="mobile-main-header">
                    <div class="mobile-logo">
                        <a href="index.html">
                            <img src="assets/img/logo/logo.png" alt="Brand Logo">
                        </a>
                    </div>
                    
                    <div class="mobile-menu-toggler">
                        <div class="search-btn">
                            <button class="search-trigger">
                                <i class="icofont-search-1"></i>
                            </button>
                        </div>
                        <button class="mobile-menu-btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>