<!-- main menu navbar start -->
<nav class="main-menu">
    <ul>
        <li>
            <a href="index.html">Home <i class="icofont-simple-down"></i></a>
            <ul class="drop-down">
                <li>
                    <a href="index.html">Home One</a>
                </li>
                <li>
                    <a href="index-2.html">Home Two</a>
                </li>
            </ul>
        </li>
        <li class="position-static">
            <a href="category.html">Categories <i class="icofont-simple-down"></i></a>
            <ul class="drop-down mega-menu">
                <li class="title">
                    <span>Column 01</span>
                    <ul>
                        <li>
                            <a href="#">Mega menu 01</a>
                        </li>
                        <li>
                            <a href="#">Mega menu 02</a>
                        </li>
                        <li>
                            <a href="#">Mega menu 03</a>
                        </li>
                        <li>
                            <a href="#">Mega menu 04</a>
                        </li>
                    </ul>
                </li>
                <li class="title">
                    <span>Column 02</span>
                    <ul>
                        <li>
                            <a href="#">Mega menu 01</a>
                        </li>
                        <li>
                            <a href="#">Mega menu 02</a>
                        </li>
                        <li>
                            <a href="#">Mega menu 03</a>
                        </li>
                        <li>
                            <a href="#">Mega menu 04</a>
                        </li>
                    </ul>
                </li>
                <li class="title">
                    <span>Column 03</span>
                    <ul>
                        <li>
                            <a href="#">Mega menu 01</a>
                        </li>
                        <li>
                            <a href="#">Mega menu 02</a>
                        </li>
                        <li>
                            <a href="#">Mega menu 03</a>
                        </li>
                        <li>
                            <a href="#">Mega menu 04</a>
                        </li>
                    </ul>
                </li>
                <li class="title">
                    <span>Column 04</span>
                    <ul>
                        <li>
                            <a href="#">Mega menu 01</a>
                        </li>
                        <li>
                            <a href="#">Mega menu 02</a>
                        </li>
                        <li>
                            <a href="#">Mega menu 03</a>
                        </li>
                        <li>
                            <a href="#">Mega menu 04</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Pages <i class="icofont-simple-down"></i></a>
            <ul class="drop-down">
                <li>
                    <a href="blog.html">Blog</a>
                </li>
                <li>
                    <a href="blog-details.html">Blog Details</a>
                </li>
                <li>
                    <a href="product-details.html">Product Details</a>
                </li>
                <li>
                    <a href="single-post.html">Single Post</a>
                </li>
                <li>
                    <a href="compare.html">Compare</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="about.html">About</a>
        </li>
        <li>
            <a href="contact.html">Contact</a>
        </li>
    </ul>
</nav>
<!-- main menu navbar end -->