<!-- newsletter area start -->
<section class="newsletter-area">
    <div class="container custom-container">
        <div class="row newsletter-inner">
            <div class="col-xl-4 col-lg-5">
                <div class="newsletter-inner__title">
                    <h2 class="title">Subscribe for Newsletter</h2>
                    <h6 class="sub-title">Subscribe to the newsletter to receive updates about new products.</h6>
                </div>
            </div>
            <div class="col-xl-7 offset-xl-1 col-lg-7">
                <div class="newsletter-inner__form">
                    <form action="#" class="form-inner position-relative">
                        <input type="text" class="text-field" placeholder="Enter Your Email Address">
                        <button class="newsletter-btn">Subscribe</button>
                        <p>It's Free</p>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="terms" required />
                            <label class="custom-control-label" for="terms">I confirm i wish to sign up to the Pixyour mailing list</label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- newsletter area end -->