
    <!-- off canvas search box start -->
    <div class="off-canvas-search">
        <div class="container">
            <div class="off-canvas-wrapper">
                <form action="#" class="off-canvas-inner">
                    <input type="text" placeholder="Search Here">
                    
                </form>
                <button class="off-canvas-close">
                    <i class="icofont-close-line"></i>
                </button>
            </div>
        </div>
    </div>
    <!-- off canvas search box end -->