<!-- off-canvas menu start -->
<aside class="off-canvas-mobile-menu">
    <div class="off-canvas-overlay"></div>
    <div class="off-canvas-inner-content">
        <div class="offcanvas-header">
            <div class="off-canvas-logo">
                <a href="#">
                    <img src="assets/img/logo/logo.png" alt="brand logo">
                </a>
            </div>
            <div class="btn-close-off-canvas">
                <i class="icofont-close-line"></i>
            </div>
        </div>

        <div class="off-canvas-inner">
            <!-- mobile menu start -->
            <div class="mobile-navigation">
                @@include('mobile-navbar.html')
            </div>
            <!-- mobile menu end -->
        </div>

        <div class="mobile-setting-menu">
            <ul>
                <li>
                    <a href="compare.html"><i class="icofont-law-alt-2"></i> Compare</a>
                </li>
                <li>
                    <a href="compare.html"><i class="icofont-heart"></i> Wishlist</a>
                </li>
            </ul>
        </div>
    </div>
</aside>
<!-- off-canvas menu end -->