<!-- All JS Plugin Include Here -->
<!-- Modernizer JS -->
<script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
<!-- jQuery JS -->
<script src="assets/js/vendor/jquery-3.3.1.min.js"></script>
<!-- Bootstrap JS -->
<script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
<!-- nice-select js -->
<script src="assets/js/plugins/nice-select.min.js"></script>
<!-- slick Slider JS -->
<script src="assets/js/plugins/swiper.min.js"></script>
<!-- perfect js -->
<script src="assets/js/plugins/perfect.js"></script>
<!-- video player js -->
<script src="assets/js/plugins/plyr.min.js"></script>
<!-- Main JS -->
<script src="assets/js/main.js"></script>