<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Pixyour - Affiliate Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <!-- icofont icon CSS -->
    <link rel="stylesheet" href="assets/css/vendor/icofont.min.css">
    <!-- Slick slider css -->
    <link rel="stylesheet" href="assets/css/plugins/swiper.min.css">
    <!-- nice-select css -->
    <link rel="stylesheet" href="assets/css/plugins/nice-select.css">
    <!-- animate css -->
    <link rel="stylesheet" href="assets/css/plugins/animate.css">
    <!-- perfect css -->
    <link rel="stylesheet" href="assets/css/plugins/perfect.css">
    <!-- video player css -->
    <link rel="stylesheet" href="assets/css/plugins/plyr.css">
    <!-- main style css -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>